body {
    font-family: Arial, sans-serif;
    background-image: url('images/background.jpg'); /* Arka plan resmi */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

form {
    background-color: rgba(255, 255, 255, 0.9);
    width: 500px;
    margin: 80px auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}


asp\:TextBox, input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

#btnEkle, #btnSil, #btnAra {
    padding: 10px 20px;
    background-color: #ff914d;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px 0px 0px 50px;
    transition: background-color 0.3s ease;
}

#btnAra:hover 
{
        background-color: black;
}

#btnSil:hover 
{
        background-color: black;
}

#btnEkle:hover 
{
        background-color: black;
}


asp\:GridView {
    margin-top: 20px;
    width: 100%;
    background-color: #fff;
    border-collapse: collapse;
}

    asp\:GridView th, asp\:GridView td {
        padding: 10px;
        border: 1px solid #ddd;
    }
