body {
    font-family: Arial, sans-serif;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

form {
    background-color: rgba(255, 255, 255, 0.95);
    width: 500px;
    margin: 60px auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}



.form-group {
    margin-bottom: 20px;
}

#txtKullaniciAdi, #txtSifre, #txtTelNo, #txtEmail, #txtSehir {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 5px;
}

#btnKayit, #btnAnaSayfa {
    padding: 10px 20px;
    background-color: #ff914d;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 0px 0px 80px;
    transition: background-color 0.3s ease;
}

    #btnAnaSayfa:hover {
        background-color: black;
    }

    #btnKayit:hover {
        background-color: black;
    }

.form-buttons {
    margin-top: 15px;
}
